<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja">
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="こちらは<%= @user.user %>のダッシュボードページです。MECOMは、みんなのポートフォリオ集めた、ユーザー投稿型ポートフォリオサイト。">
  <meta name="keywords" content="ポートフォリオ,ウェブデザイン,ギャラリー,MECOM">
  <title><%= @user.user %>のダッシュボード | MECOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- favicon -->
<link rel="apple-touch-icon" href="/images/favicon.ico">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/favicon.ico"/>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
<!-- js -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<header>
    <div id="headerWrap">
      <p id="logo"><a href="/"><img src="/images/logo.png" alt="MECOM" width="155" height="52"></a></p>
      <div class="headerLink">
        <a href="/user/<%= @user.user %>" class="borderLink post">表示を確認</a>
        <a href="/logout" class="borderLink logout">Logout</a>
      </div>
    </div>
  </header>
  <div id="top"></div>
<div class="boxWrap clearfix wrap">
  <div class="acountBox whitebox">
  <div class="acountBg">
    <img src="/images/acount.jpg" alt="アカウント背景画像" />
  </div>
    <div class="acoutImg">
      <img src="<%= @user.image %>" alt="<%= @user.user %>" height="100" / >
    </div>
    <div class="acountInfo">
      <h1><%= @user.user %></h1>
      <p><%= @user.comment %></p>
    </div>
  </div>
<div class="postform whitebox">
  <h2>POST FORM</h2>
  <div class="formWrap">
    <form method="POST" action="/dashboard/<%= @user %>" enctype="multipart/form-data" class="clearfix">
    <dl class="clearfix">
      <dt>IMAGE</dt>
      <dd class="fileform"><input type="file" name="file"></dd>
      <dt>TITLE</dt>
      <dd><input type="text" name="title" placeholder="※16文字以内"></dd>
      <dt>DESCRIPTION</dt>
      <dd><input type="text" name="explain" placeholder="※40文字以内"></dd>
      <dt>URL</dt>
      <dd><input type="url" name="url" placeholder="http://example.com/"></dd>
    </dl>
      <input type="submit" value="POST" id="postBtn">
    </form>
  </div>
</div>
<div class="posts threeColumn clearfix">
<% @posts.each do |post| %>
    <div data-id="<%= post.id %>" class="postBox whitebox">
        <a href="<%= h post.url %>" target="_blank" class="imgWrap">
          <img src="<%= post.image %>" alt="<%= h post.title %>"/ >
        </a>
        <div class="contentWrap">
          <a href="<%= h post.url %>" target="_blank" class="title"><%= h post.title %></a>
          <p class="explain"><%= h post.explain %></p>
        </div>
        <span class="deleteCmd">×</span>
    </div>
    <% end %>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $('.deleteCmd').click(function () {
      var el = $(this).parent();
      if (confirm('本当に投稿を削除しますか？')) {
        $.post('/delete', {
          id: el.data('id')
        }, function () {
          el.fadeOut(800);
        })
      }
    })
  </script>
  </div>
  <p class="pagetop"><a href="#top">↑</a></p>
</body>
</html>

