<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Portfolios</title>
</head>
<body>
	<header style="border-bottom:1px #dedede solid;">
		<h1 style="text-align:center;">Portfolios</h1>
		<p style="text-align:center;"><a href="/login">投稿する</a></p>
	</header>
  <ul>
  	<% @posts.each do |post| %>
    <li data-id="<%= post.id %>">
    <a href="<%= h post.url %>" target="_blank"><%= h post.title %></a>
    <p><%= h post.created_at %></p>
    <p><%= h post.user %></p>
    </li>
    <% end %>
  </ul>
</body>
</html>

