<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja">
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="こちらは<%= @user.user %>のポートフォリオです。MECOMは、みんなのポートフォリオ集めた、ユーザー投稿型ポートフォリオサイト。">
  <meta name="keywords" content="ポートフォリオ,ウェブデザイン,ギャラリー,MECOM">
  <title><%= @user.user %>のポートフォリオ | MECOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- favicon -->
<link rel="apple-touch-icon" href="/images/favicon.ico">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/favicon.ico"/>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">

</head>
<body>
<header>
    <div id="headerWrap">
      <p id="logo"><a href="/"><img src="/images/logo.png" alt="MECOM"></a></p>
      <div class="headerLink">
        <a href="/login" class="borderLink post">Post</a>
      </div>
    </div>
  </header>
  <div class="boxWrap clearfix wrap">
  <div class="acountBox whitebox">
  <div class="acountBg">
    <img src="/images/acount.jpg" alt="アカウント背景画像" />
  </div>
    <div class="acoutImg">
      <img src="<%= @user.image %>" alt="<%= @user.user %>" height="100" / >
    </div>
    <div class="acountInfo">
      <h1><%= @user.user %></h1>
      <p><%= @user.comment %></p>
    </div>
  </div>
  <div class="posts userContents clearfix">
<% @posts.each do |post| %>
    <div data-id="<%= post.id %>" class="postBox whitebox">
        <a href="<%= h post.url %>" target="_blank" class="imgWrap">
          <img src="<%= post.image %>" alt="<%= h post.title %>"/ >
        </a>
        <div class="contentWrap">
          <a href="<%= h post.url %>" target="_blank" class="title"><%= h post.title %></a>
          <p class="explain"><%= h post.explain %></p>
        </div>
    </div>
    <% end %>
</div>
</div>
  
</body>
</html>

